body {
    font-family: arial, sans-serif;
    color: #202124;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #202124;
}

ul {
    margin-right: 0;
    padding-left: 0;
    text-align: right;
    margin-right: 20px;
    margin-top: 25px;
}

.small {
    font-size: 15px;
}

.small:hover{
    text-decoration: underline;
}

.sign_in:hover{
    background-color: #0d55b4;
}

.sign_in {
    background-color: #1a73e8;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: 1px solid transparent;
    border-radius: 5px;
}

.container {
    /*background-color: blue;*/
    position: absolute;
    top: 8%;
    left: 20%;
}

input[type="text"] {
    /*max-width: 0%;*/
    min-width: 50%;
    display: block;
    border-radius: 10px;
    height: 20px;
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0.705);
    /*I will crop the goggle logo and apply this stly*/
    /*margin-top: -100px;*/
    margin-left: 10px;
}

/*I have to change the borderf color and details when the input element with type test is selected*/

.languages > p {
    display: inline;
    margin: 5px;
}


img {
    max-width: 50%;
    height: 30%;
    /*background-color: blue;*/
    padding: 0;
    margin: 0;
    clip: rect(20px, 20px)
}

input[type="submit"], button {
    width: 13%;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    height: 40px;
    margin-top: 2%;
    margin-bottom: 2%;
}

input[type="submit"] {
    margin-left: 5%;
    margin-right: 8%;
}

div > p > a:hover {
    color: blue;
    text-decoration: underline;
}


